*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.overEx1{
    border: 2px solid black;
    width: 400px;
    position: relative;
    margin: 10px;
}
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.overEx1 .text{
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.714);
    color: white;
    display: grid;
    place-items: center;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.overEx1:hover .text{
    height: 100%;
}
/* ========================= */
.overEx2{
    width: 400px;
    border: 2px solid black;
    position: relative;
    margin: 10px;
}
.overEx2 .text{
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; */
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.714);
    color: white;
    display: grid;
    place-items: center;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.overEx2:hover .text{
    width:  100%;
}
/* ===================== */
.overEx3{
    width: 400px;
    border: 2px solid black;
    position: relative;
    margin: 10px;
}
.overEx3 .text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    transform: scale(0);
    border-radius: 50%;
    /* transform-origin: 0% 100%; */
}
.overEx3:hover .text{
    background-color: rgba(0, 0, 0, 0.714);
    transform: scale(1);
    border-radius: 0;
}
.overEx3 .textover{
    /* transform: scale(0); */
    transform: translateY(170px);
    transition: 1s ease;
}
.overEx3:hover .textover{
    transition-delay: 1s;
    /* transform: scale(1) rotate(360deg); */
    transform: translateY(0px);
}